body {
  background-color: #FDFDFD;
  position: absolute;
  text-align: center;
  position: absolute;
  right: 7%;
  font-family: "Helvetica", "Ariel", sans-serif;
}
h1{
  font-size: 45px;
  margin: 5px 0px 0px 0px;
  padding: 5px 5px 0px 5px;
  color: #08c;
  font-family: "Baskerville",serif;
  font-style: oblique;
  font-weight: normal;
  text-align: center;
}
h2 {
  color: #6cf;
  font-size: 25px;
}
h3{
  color: #08c;
  font-size: 25px;
}
#caption{
  font-weight: lighter;
  font-size:22px;
}
img {
  width: 90px
  margin-top: 20px;
  margin-bottom: 70px;
}
#cover{
  -webkit-box-shadow: 17px 18px 41px -1px rgba(0,0,0,0.85);
  -moz-box-shadow: 17px 18px 41px -1px rgba(0,0,0,0.85);
  box-shadow: 17px 18px 41px -1px rgba(0,0,0,0.85);
}
nav {
  font-size: 35px;
  margin-bottom: 14px;
  margin-top: 45px;
  float: right;
}
a {
  text-decoration: none;
  color: #9df;
  padding: 0px 70px 0px 70px;
}
#button1:hover{
  font-size: 45px;
}
.title{
  float: left;
}
ul {
  text-align: center;
}
.menu{
  height: 500px;
  margin: 40px 20px 15px 20px;
}
ul{
  margin-bottom: 60px;
}
li{
  text-align: left;
  color: #fff;
  font-size: 25px;
  padding: 10px 10px 10px 60px;
  margin: 15px 40px 15px 15px;
}
.items{
  padding: 10px;
  width:  370px;
  height: 480px;
}
#strokeme {
  color: white;
  font-size: 80px;
  font-family: "Helvetica", "Ariel", sans-serif;
  text-shadow:
  -3px -3px 0 #08c,
  -3px -3px 0 #08c,
  -3px -3px 0 #08c,
  -3px -3px 0 #08c;
}
#navbar{
  border-bottom: 0.5px solid #cef;
}
.right{
  float: right;
  margin: 30px 50px 30px 30px;
  border-radius: 10%;
}
.left{
  float: left;
  margin: 30px 30px 30px 50px;
  border-radius: 10%;
}
#div1{
  background-color: #9f9;
}
#div2{
  background-color: #9df;
}
#div3{
  background-color: #f99;
}
